
body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	max-width: 390px;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px 200px;
}

.img {
	width: 150px;
}

.item {
	text-align: center;
	height: auto; /* Maintain aspect ratio */
    margin-top: 20px; /* Adjust the margin from the top */
    display: block;
	margin-left: auto; /* Center horizontally */
    margin-right: auto;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;

	transition: background .2s linear;
}

.btn:hover {
	background: lightgreen;
}

.usercard {
	text-align: center;
}

.primary-btn {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ff7a00;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
}

.split-btn {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background-color: #fff;
    padding: 20px 60px 20px 20px;
    position: absolute;
    border-radius: 5px;
    top: 40px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    z-index: 1; /* Ensure the dropdown content appears above other elements */
}


.dropdown-content button {
    display: block;
    margin-bottom: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    color: #ff7a00;
    transition: transform 0.3s;
}

.dropdown-content button:hover {
    transform: translateX(5px);
}

.split-btn:hover .dropdown-content {
    opacity: 1;
    pointer-events: all;
}

.animated-gif {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-top: 20px; /* Adjust the margin from the top */
    display: block; /* Ensure it's displayed as a block element */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}
